
.Weather {
    padding: 26px;
    font-family: "Noto Sans", sans-serif;
    color: #384365;
    background: #EDEDD8;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

.Weather form {
    margin-bottom: 20px;
}

.Weather h1 {
    margin: 20px 0 0 0;
    font-size: 19px;
    font-weight: 700;
    line-height: 22px;    
}


.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
    color-scheme:light;
    display: block;
    font-size: 12px;
    font-weight: 400;
    height: 16px;
    line-height: 16px;
}


.Weather .temperature {
    display: inline;
    font-size: 48px;
    font-weight: 400;
    height: auto;
    letter-spacing: normal;
    line-height: 64px;
}

.Weather canvas {
    margin-right: 10px;
    margin-top: 5px;
    display: inline;
}

.Weather .unit {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: -22px;
    line-height: 1;
    }

    .Weather a {
        text-decoration: none;
    }

    .Weather .btn {
        color: white;
        background-color: #364364;
    }

    @media (max-width: 768px) {

        .Weather {
            padding: 25px;
            max-width: auto;
        }

      }
      